Repository omoch1-2357/Prismind: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, no-type-ignore, no-noqa, no-fmt-off, no-any-type, no-allow-warnings-rs, no-blanket-allow-rs, no-unwrap-expect-rs, no-unsafe-rs

.pre-commit-config.yaml:

# Pre-commit hooks for Prismind
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the formatter
      - id: ruff-format
        name: ruff format
        files: ^python/.*\.py$
      # Run the linter
      - id: ruff
        name: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        files: ^python/.*\.py$

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^python/.*\.py$
        args: [--strict, --ignore-missing-imports, --warn-unused-ignores]
        additional_dependencies:
          - types-setuptools

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        args: [--all, --check]
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        args: [--workspace, --all-targets, --all-features, --, -D, warnings]
        language: system
        files: \.rs$
        pass_filenames: false

  # Forbid lint/type-check bypass patterns
  # See docs/bypass-policy.md for approved exceptions
  - repo: local
    hooks:
      # === Python bypass prevention ===
      - id: no-type-ignore
        name: "forbid type: ignore"
        entry: '# type:\s*ignore'
        language: pygrep
        files: ^python/.*\.py$
        exclude: ^python/tests/.*$

      - id: no-noqa
        name: forbid noqa comments
        entry: '#\s*noqa'
        language: pygrep
        files: ^python/.*\.py$
        exclude: ^python/tests/.*$

      - id: no-fmt-off
        name: "forbid fmt: off"
        entry: '#\s*fmt:\s*(off|skip)'
        language: pygrep
        files: ^python/.*\.py$

      # Forbid Any type annotations (lazy typing)
      # Allowed: signal handlers (_frame: Any), TYPE_CHECKING imports
      - id: no-any-type
        name: forbid Any type annotations
        entry: ':\s*Any\b|[-=]>\s*Any\b'
        language: pygrep
        files: ^python/.*\.py$
        exclude: ^python/tests/.*$

      # === Rust bypass prevention ===
      # Forbid most #[allow(...)] - except too_many_arguments (API compat)
      - id: no-allow-warnings-rs
        name: forbid #[allow(...)] in Rust (except too_many_arguments)
        entry: '#\[allow\((dead_code|unused|clippy::(?!too_many_arguments)|warnings)'
        language: pygrep
        files: \.rs$
        exclude: (^tests/|_test\.rs$|^benches/)

      - id: no-blanket-allow-rs
        name: forbid #![allow(...)] crate-level
        entry: '#!\[allow\('
        language: pygrep
        files: \.rs$

      # Forbid unwrap()/expect() in production Rust
      # Note: This check is best enforced via clippy::unwrap_used lint
      # pygrep cannot distinguish doctest from production code
      # Exclude entire files that have high test/doctest content
      - id: no-unwrap-expect-rs
        name: forbid unwrap()/expect() in production Rust
        entry: '\.(unwrap|expect)\(\)'
        language: pygrep
        files: ^src/(lib|main)\.rs$

      # Forbid unsafe blocks outside arm64.rs and FFI modules
      - id: no-unsafe-rs
        name: forbid unsafe outside approved modules
        entry: 'unsafe\s*\{'
        language: pygrep
        files: ^src/.*\.rs$
        exclude: (^src/arm64\.rs$|^src/python/.*\.rs$|^src/evaluator\.rs$)

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]

feat: Implement Build Scripts and Deployment Configuration (Task 12)
  .gitignore
  .kiro/specs/phase4-integration/tasks.md
  Makefile
  build.ps1
  build.sh
  deploy/install-service.sh
  deploy/prismind-training.service
  docs/deployment-oci-ampere-a1.md
Due: none

feat: Implement Integration Tests (Task 13)
  .kiro/specs/phase4-integration/tasks.md
  python/tests/__pycache__/__init__.cpython-311.pyc
  python/tests/__pycache__/test_scripts.cpython-311-pytest-7.4.3.pyc
  tests/phase4_integration_test.rs
Due: cargo-fmt, cargo-clippy, no-blanket-allow-rs

fix: Resolve PyO3 link errors in CI by separating Rust and Python tests
  .github/workflows/ci.yml
Due: none

fix: Add virtualenv for maturin develop in Python test job
  .github/workflows/ci.yml
Due: none

docs: Add README.md for maturin build
  README.md
Due: none

fix: Correct binary name in Release Build verification
  .github/workflows/ci.yml
Due: none

fix: Enhance resume_training to load latest checkpoint and handle errors
  .gitignore
  src/python/training_manager.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs

fix: Remove panic=abort from release profile to fix benchmark compilation
  Cargo.toml
Due: none

docs: Update CI and documentation for release-binary profile
  .github/workflows/ci.yml
  README.md
  docs/deployment-oci-ampere-a1.md
Due: none

chore: update benchmark imports to remove unused black_box references
  .cargo/config.toml
  benches/evaluate_bench.rs
  benches/extract_patterns_bench.rs
  benches/legal_moves_bench.rs
  benches/make_move_bench.rs
  benches/rotation_bench.rs
  benches/score_conversion_bench.rs
  benches/search_bench.rs
Due: cargo-fmt, cargo-clippy, no-blanket-allow-rs

feat(x86_64): add SIMD optimizations for u16 to f32 conversion using SSE/AVX
  .pre-commit-config.yaml
  benches/score_conversion_bench.rs
  src/evaluator.rs
  src/lib.rs
  src/x86_64.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unwrap-expect-rs, no-unsafe-rs

fix(training): preserve accumulated statistics across resume sessions
  src/learning/training_engine.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat(checkpoint): enhance checkpoint metadata for resume support with extended statistics
  src/learning/checkpoint.rs
  src/learning/training_engine.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat(training): improve checkpoint boundary detection during batch processing
  src/learning/training_engine.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat(training): refactor accumulated stone difference handling to use sum and count for improved memory efficiency
  src/learning/checkpoint.rs
  src/learning/training_engine.rs
  src/python/training_manager.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat(evaluator): dynamically load patterns from patterns.csv for consistency
  python/evaluate.py
  src/evaluator.rs
  src/learning/td_learner.rs
  src/python/checkpoint_manager.rs
  src/python/evaluator.rs
Due: cargo-fmt, cargo-clippy, no-type-ignore, no-noqa, no-fmt-off, no-any-type, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: implement TD(lambda)-Leaf reinforcement learning system with self-play and training engine
  python/train.py
  src/learning/logger.rs
  src/learning/mod.rs
  src/learning/self_play.rs
  src/learning/td_learner.rs
  src/learning/training_engine.rs
  src/python/training_manager.rs
  tests/learning_integration_test.rs
Due: cargo-fmt, cargo-clippy, no-type-ignore, no-noqa, no-fmt-off, no-any-type, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: add parallel self-play training engine, core logic, and associated tests.
  src/learning/self_play.rs
  src/learning/training_engine.rs
  tests/learning_algorithm_test.rs
  tests/learning_integration_test.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: Introduce training engine and search functionality, add performance benchmarks, and enable rustdoc checks.
  .pre-commit-config.yaml
  benches/score_conversion_bench.rs
  benches/search_bench.rs
  src/learning/training_engine.rs
  src/search.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: add training engine, evaluator, and pattern modules; enforce rustdoc warnings as errors
  .pre-commit-config.yaml
  src/evaluator.rs
  src/learning/training_engine.rs
  src/pattern.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: add support for configurable thread count and games per thread in training manager
  python/train.py
  src/learning/training_engine.rs
  src/python/training_manager.rs
Due: cargo-fmt, cargo-clippy, no-type-ignore, no-noqa, no-fmt-off, no-any-type, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

Update build configurations for release profiles
  Cargo.toml
  pyproject.toml
Due: none

feat: Implement x86-64 optimized pattern evaluation using PEXT instructions and `once_cell` for lookup tables.
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/evaluator.rs
  src/pattern.rs
  src/x86_64.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: Implement TD-Leaf learner with backward updates and add a Python script for checkpoint analysis.
  python/analyze_checkpoints.py
  src/learning/td_learner.rs
Due: cargo-fmt, cargo-clippy, no-type-ignore, no-noqa, no-fmt-off, no-any-type, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: implement core training engine for parallel self-play learning with state management, checkpointing, and logging.
  src/learning/training_engine.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: Implement TD-Leaf learner with backward updates, eligibility traces, and Adam optimizer integration.
  .gitignore
  src/learning/td_learner.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: implement robust checkpoint management for training state persistence with V2 format, compression, and integrity checks, and create `td_learner` module.
  src/learning/checkpoint.rs
  src/learning/td_learner.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: improve training engine statistics tracking and checkpoint logging with detailed stats snapshot
  src/learning/training_engine.rs
  src/x86_64.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: add support for resuming training from a specific checkpoint file in both Python and Rust implementations
  python/train.py
  src/python/training_manager.rs
Due: cargo-fmt, cargo-clippy, no-type-ignore, no-noqa, no-fmt-off, no-any-type, no-allow-warnings-rs, no-blanket-allow-rs

feat: optimize position calculations using bitwise operations for improved performance
  .cargo/config.toml
  .kiro/specs/phase2-search/design.md
  docs/02_technical_specs.md
  python/evaluate.py
  src/board.rs
  src/learning/error_handler.rs
  src/pattern.rs
  src/python/statistics_manager.rs
  src/search.rs
  src/x86_64.rs
  tests/phase4_integration_test.rs
  tests/public_api_integration.rs
Due: cargo-fmt, cargo-clippy, no-type-ignore, no-noqa, no-fmt-off, no-any-type, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: add caching mechanism for bit permutation to optimize PEXT pattern extraction
  src/x86_64.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: enhance checkpoint filename parsing and optimize memory allocation for lookup tables in x86-64 module
  .cargo/config.toml
  src/learning/checkpoint.rs
  src/x86_64.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: improve game result simulation in parallel training tests for deterministic outcomes
  tests/phase4_integration_test.rs
Due: cargo-fmt, cargo-clippy, no-blanket-allow-rs

feat: add training engine for parallel self-play learning with TD updates and checkpointing
  src/learning/training_engine.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: Add training engine for parallel self-play learning with game execution, TD updates, and checkpoint management
  src/learning/self_play.rs
  src/learning/training_engine.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs

feat: Integrate mimalloc for improved memory management and replace HashMap with FxHashMap for efficiency
  Cargo.lock
  Cargo.toml
  src/learning/eligibility_trace.rs
  src/learning/memory.rs
  src/lib.rs
  src/python/evaluator.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unwrap-expect-rs, no-unsafe-rs

feat: introduce pattern module and update pattern definitions in CSV.
  patterns.csv
  src/pattern.rs
Due: cargo-fmt, cargo-clippy, no-allow-warnings-rs, no-blanket-allow-rs, no-unsafe-rs
